POSTGRES_DB=ocr_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
TESSERACT_DATAPATH=/usr/share/tesseract-ocr/5/tessdata
OPENAI_API_KEY_DOCKER=
ALPR_ML_BASE_URL=http://localhost:8000
ALPR_FALLBACK_OPENAI_ENABLED=false
